services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXT_PUBLIC_NODEMAILER_USER: ${NEXT_PUBLIC_NODEMAILER_USER}
      NEXT_PUBLIC_NODEMAILER_PASSWORD: ${NEXT_PUBLIC_NODEMAILER_PASSWORD}
    network_mode: "host"
